{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}} it's just a test</p> --}}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

    <a class="navbar-brand" href="#">Welcome to the space</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About the developers</a>
            </li>
        </ul>
        <span class="navbar-text">
            Welcome to the deep space. Get lost!
        </span>
    </div>
</nav>

<h1 class="animated flipInY delay-2s">Welcome to the deep space</h1>

<h1 class="animated zoomInRight slow delay-2s">I am an asteroyd</h1>

<img class="animated zoomInRight slower delay-2s spinoza" src="../images/SpinozaHead.png" alt="">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus nunc a nunc venenatis mattis. In ultricies
    sagittis mi ac iaculis. Quisque vel nisi eu ante ultricies efficitur nec hendrerit mi. Cras hendrerit convallis
    nisl, egestas viverra tellus auctor ut. Cras sodales fermentum ipsum, et feugiat dolor condimentum vel. Etiam
    dignissim est id elementum tristique. Aenean maximus egestas ante. Vestibulum quis sapien elit.

    Donec lacus est, laoreet non augue vitae, consectetur aliquam massa. Nunc nunc risus, sodales facilisis scelerisque
    sodales, blandit quis sapien. Nam at libero sollicitudin, gravida lectus aliquam, convallis odio. Vestibulum
    suscipit pellentesque consectetur. Donec at euismod metus. Nulla consequat elit urna, sit amet volutpat lacus
    eleifend lacinia. Praesent placerat tellus purus, ac commodo leo venenatis id. Maecenas ut euismod felis, sed
    viverra tellus. Maecenas blandit sapien in augue tempus condimentum. Quisque vitae sapien diam. Integer iaculis
    pulvinar est, ut mollis nulla scelerisque at. Phasellus vitae maximus lacus, non vehicula dui. Cras feugiat nunc et
    varius auctor. Donec eu justo rutrum sem lobortis fermentum at at metus. Sed ac lectus risus. Curabitur nulla nunc,
    pretium vitae luctus quis, pulvinar et turpis.

    Quisque convallis auctor leo, id ultrices eros interdum a. In ac eros ac sapien vestibulum viverra vitae non sem.
    Etiam porttitor lorem in sapien ultrices, ut iaculis orci bibendum. Vivamus libero odio, feugiat quis bibendum id,
    hendrerit ac lacus. Cras interdum turpis et magna vehicula convallis. Nullam vulputate mauris eu neque vestibulum
    condimentum. Nam ante augue, rutrum nec nibh laoreet, porttitor condimentum justo. Ut commodo aliquet leo non
    aliquam. Maecenas tempus nibh erat, in ullamcorper quam ultrices vel. Vestibulum et nulla vel lorem sagittis blandit
    sit amet in nisl. Aliquam sit amet vestibulum quam, vitae cursus nulla. Fusce neque massa, aliquam sit amet dapibus
    a, eleifend vel orci. Donec luctus dolor ut viverra consequat.

    Nam gravida feugiat quam, a porttitor velit porta nec. Curabitur ac lobortis massa. Praesent in ultrices ex. In sit
    amet tincidunt turpis. Duis in nibh nec velit vulputate lobortis at eu nisl. Duis vitae iaculis orci. Aenean
    malesuada justo in purus efficitur, bibendum pretium nunc elementum.

    Integer ornare ligula sed est vulputate, in porttitor nulla consectetur. Quisque ultrices sollicitudin mi, ac
    bibendum augue varius quis. Morbi condimentum id mauris nec cursus. Integer ultricies, magna nec blandit luctus,
    quam urna semper magna, sit amet varius enim ligula vel lectus. Duis pellentesque hendrerit risus, id vehicula arcu
    porttitor placerat. Pellentesque est lacus, malesuada maximus metus a, consectetur elementum ipsum. Maecenas a
    dictum neque, at lobortis mauris. Nunc metus lacus, laoreet suscipit venenatis sit amet, venenatis a massa. Fusce
    ultricies hendrerit leo et convallis. Nullam cursus sapien ac lacus scelerisque porta. Etiam iaculis nunc eget est
    pretium facilisis. Phasellus aliquam tellus at eros viverra, ac blandit augue molestie.
</p>